  <tr bgcolor="#000033">
  <td nowrap><a href="browser.html?dir=<#browser_enc_directoryname>"><img src="../gfx/folder.gif" width="16" height="14" border="0"></a></td>
  <td nowrap width="100%"><input name="add" type="checkbox" id="add" value="<#browser_form_directoryname>">
    <a href="browser.html?dir=<#browser_enc_directoryname>" id="filename"><#browser_directoryname></a></td>
  <td nowrap align="center"><a href="browser_frameset.html?add=<#browser_enc_directoryname>" target="_parent">Add to Playlist</a></td>
  </tr>
