 <tr bgcolor="#000033">
  <td nowrap><a href="index.html?file=<#browser_enc_filename>&page=browser" target="_top"><img src="../gfx/icon_song.gif" width="14" height="14" border="0"></a></td>
  <td nowrap width="100%"><input name="add" type="checkbox" id="add" value="<#browser_form_filename>">
    <a href="index.html?file=<#browser_enc_filename>&page=browser" target="_top" id="filename"><#browser_filename hideextension=1></a>
  </td>
  <td nowrap align="center"><a href="browser_frameset.html?add=<#browser_enc_filename>" target="_parent">Add to Playlist</a> | <a href="browser_frameset.html?insert=<#browser_enc_filename>&page=browser" target="_parent" title="After Current Track">After Current Track</a></td>
  </tr>

