<form name="browserform" enctype="application/x-www-form-urlencoded" action="browser_frameset.html" method="post" target="_parent">
  <table width="400" border="0" cellpadding="1" cellspacing="1" class="standard" bgcolor="#6666DD">
<#browser_drives template=templates/browser_drives.html>
<#browser_directories template=templates/browser_directories.html>
<#browser_files template=templates/browser_files.html>
    <tr bgcolor="#000033">
      <td>&nbsp;</td>
      <td nowrap><a href="#" title="select all checkboxes above" onClick="setCheckboxes('browserform', true); return false;">select all</a> <a href="#" title="invert all checkboxes above" onClick="invertCheckboxes('browserform'); return false;">invert</a> <a href="#" title="clear all checkboxes above" onClick="setCheckboxes('browserform', false); return false;">clear</a></td>
      <td nowrap><input name="submit" title="add all selected songs to the playlist" type="submit" value="add sel"></td>
    </tr>
  </table>
</form>