<tr bgcolor="#000033">
<td nowrap><input name="add" type="checkbox" id="add" value="<#medialibrary_form_filename>"></td>
<td nowrap><a href='?query=artist=="<#medialibrary_artist urlencoded=1>"'><#medialibrary_artist></a></td>
<td nowrap><a href="index.html?file=<#medialibrary_filename urlencoded=true>&page=medialibrary" target="_top" title="<#medialibrary_filesize> MB"><b><#medialibrary_title></b></a></td>
<td nowrap><a href='?query=album=="<#medialibrary_album urlencoded=1>"'><#medialibrary_album></a></td>
<td><#medialibrary_songlengthmin>:<#medialibrary_songlengthsec></td>
<td><#medialibrary_tracknumber> </td>
<td nowrap><a href='?query=genre=="<#medialibrary_genre urlencoded=1>"'><#medialibrary_genre></a></td>
<td><a href='?query=year=="<#medialibrary_year urlencoded=1>"'><#medialibrary_year></a></td>
<td><a href='?query=rating=="<#medialibrary_rating urlencoded=1>"'><#medialibrary_rating></a></td>
<td><a href='?query=playcount=="<#medialibrary_playcount urlencoded=1>"'><#medialibrary_playcount></a></td>
<td nowrap><#medialibrary_lastplayed></td>
</tr>