  <tr  title="added by <#playlist_addedby default=someone>">
  <td nowrap class="highlight"><a name="currentsong"></a><#playlist_index></td>
  <td nowrap class="highlight" width="100%"><input name="removesong" type="checkbox" id="remove" value="<#playlist_songid>">&nbsp;<#playlist_songtitle></td>
  <td nowrap class="highlight" align="center"><a href="?moveup=<#playlist_songid>"><img src="./gfx/up.gif" border="0"></a><a href="?movedn=<#playlist_songid>"><img src="./gfx/down.gif" border="0"></a>&nbsp;<#playlist_songlengthmin>:<#playlist_songlengthsec>&nbsp;<a href="index.html?removesong=<#playlist_songid>&page=playlist" target="_top"><img src="../gfx/icon_trash.gif" border="0"  title="remove '<#playlist_songtitle>' from playlist"></a></td>
  </tr>
