 <tr title="added by <#playlist_addedby default=someone>">
  <td nowrap class="highlight3"><a name="currentsong"></a><#playlist_index></td>
  <td nowrap width="100%" class="highlight3" width="100%"><#playlist_songtitle maxlength=23>..</td>
  <td nowrap class="highlight3" align="center"><a href="?moveup=<#playlist_songid>"><img src="./gfx/up.gif" border="0"></a><a href="?movedn=<#playlist_songid>"><img src="./gfx/down.gif" border="0"></a>&nbsp;<#playlist_songlengthmin>:<#playlist_songlengthsec>&nbsp;<a href="?removesong=<#playlist_songid>"><img src="../gfx/icon_trash2.gif" border="0" title="remove '<#playlist_songtitle>' from playlist"></a></td>
  </tr>
