  <tr title="added by <#playlist_addedby default=someone>" bgcolor="#000033">
  <td nowrap><#playlist_index></td>
  <td nowrap width="100%">&nbsp;<a href="index.html?playtrack=<#playlist_songid>" title="<#playlist_filename>" target="_top"><#playlist_songtitle></a>   

<a href="#Bigger" onClick="javascript:window.open('<#inifile section=layout key=playlistcover parse=1 default=gfx/clearpixel.gif>', 'Album Art', 'width=480,height=400,scrollbars,resizable,dependent');" title="click to see cover art"><img src="./gfx/icon_image.gif" border="0"></a>
	 </td>
  <td nowrap align="center"><a href="?moveup=<#playlist_songid>"><img src="./gfx/up.gif" border="0"></a><a href="?movedn=<#playlist_songid>"><img src="./gfx/down.gif" border="0"></a>&nbsp;<#playlist_songlengthmin>:<#playlist_songlengthsec>&nbsp;<a href="?removesong=<#playlist_songid>"><img src="../gfx/icon_trash.gif" border="0" title="remove '<#playlist_songtitle>' from playlist"></a></td>
  </tr>
